<button fxShow="true" fxHide.gt-sm="true" mat-fab color="accent" (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <a mat-button href="#">Features</a>
      <a mat-button href="#">Pricing</a>
      <a mat-button href="#">Contact</a>
      <a mat-button href="#">Docs</a>
      <a mat-button href="#" color="accent">Login</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <section class="page-header" style="height: 50vh;">
      <header>
        <nav class="navbar-top">
          <div class="container">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <a href="#" class="navbar-brand">
                <span class="brand-name">!Faster</span>
              </a>
              <div class="navbar-right" fxShow="true" fxHide.lt-md="true">
                <a mat-button href="#">Features</a>
                <a mat-button href="#">Pricing</a>
                <a mat-button href="#">Contact</a>
                <a mat-button href="#">Docs</a>
                <a mat-stroked-button href="#" color="accent">Login</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
    </section>
    <section id="features" style="height: 50vh;">
      <p>cioa</p>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>
